$frame_header_background: rgb(211, 211, 211);
$frame_header_control_default: rgba(88, 88, 88, 0.877);
$frame_header_control_default_hover: rgba(255, 255, 255, 0.397);
$frame_header_control_close_hover:red;

$main_background: #f0f0f0;

$sidebar_background: rgb(211, 211, 211);
$sidebar_link_background: rgb(78, 78, 78);

$data_widget_background: rgb(94, 94, 94);
$data_widget_text: rgb(255, 255, 255);
