$frame_header_background: rgb(211, 211, 211);
$frame_header_control_default: rgba(88, 88, 88, 0.877);
$frame_header_control_default_hover: rgba(255, 255, 255, 0.397);
$frame_header_control_close_hover:red;

$main_background: #f0f0f0;