@import "variables";
@import "~bootstrap/scss/bootstrap";

body {
    padding: 0px;
    margin: 0px;
    border: 0px;
    background-color: $main_background;
}

#window-bar {
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    height: 25px;
    background-color: $frame_header_background;
    z-index: 99;
    -webkit-app-region: drag;

    .title{
        padding-top:3px;
        padding-left:10px;
        font-size:10px;

    }

    .window-controls {
        position: absolute;
        right: 0px;
        top: 0px;
        height: 25px;
        -webkit-app-region: no-drag;

        .control-container {
            display: inline-block;
            width: 35px;
            height: 25px;

            div {
                margin: 7px 13px;
                width: 11px;
                height: 11px;
                background-size: contain;
            }

            .minimize,
            .expand,
            .close {
                background-color: $frame_header_control_default;
                -webkit-mask-size: contain;
                mask-size: contain;
            }

            .minimize {
                -webkit-mask-image: url("../images/minimize.svg");
                mask-image: url("../images/minimize.svg");
            }

            .expand {
                -webkit-mask-image: url("../images/expand.svg");
                mask-image: url("../images/expand.svg");
            }

            .close {
                -webkit-mask-image: url("../images/close.svg");
                mask-image: url("../images/close.svg");
            }
        }

        .control-container-default:hover {
            background-color: $frame_header_control_default_hover;
        }

        .control-container-close:hover {
            background-color: $frame_header_control_close_hover;
        }
    }

    .title {
        position: absolute;
        font-size: 12px;
    }
}

#content {
    padding-top:25px;

    #sidebar {
        position:fixed;
        top:25px;
        bottom:0px;
        left:0px;
        width:60px;
        background-color:$sidebar_background;

        .nav-item{
            margin:10px;
            width: 40px;
            height: 40px;
            border-radius: 2px;
            mask-size: contain; 
            -webkit-mask-size: contain;
            padding:5px;
        }

        .sep{
            height:2px;
            width:30px;
            border-radius:5px;
            background-color:rgba(0,0,0,.2);
            margin-left:15px;
        }

        @mixin icon-mask($url){
            -webkit-mask-size: contain;
            mask-size: contain;
            height:100%;
            width:100%;
            mask-repeat: no-repeat;
            -webkit-mask-repeat: no-repeat;
            background-color:rgb(94, 94, 94);
            mask-image: url($url);
            -webkit-mask-image: url($url);
        }

        .home-icon{
            @include icon-mask("../images/home.svg");
        }
        .history-icon{
            @include icon-mask("../images/history.svg");
        }
        .records-icon{
            @include icon-mask("../images/records.svg");
        }
        .leaderboard-icon{
            @include icon-mask("../images/leaderboard.svg");
        }
        .profile-icon{
            @include icon-mask("../images/profile.svg");
        }
        .settings-icon{
            @include icon-mask("../images/settings.svg");
        }
    }

    #panel {
        position:fixed;
        overflow:auto;
        top:25px;
        bottom:0px;
        right:0px;
        left:60px;
        padding-top:15px;
        padding-bottom:15px;

        --bs-gutter-x: 1.5rem;
        --bs-gutter-y: 0;
        padding-right: calc(var(--bs-gutter-x) * 0.5);
        padding-left: calc(var(--bs-gutter-x) * 0.5);
        margin-right: auto;
        margin-left: auto;
    }
}

@mixin data-container{
    background-color: $data_widget_background;
    border-radius: 5px;
    width:100%;
    padding: 15px;
    color: $data_widget_text;
    
}

.data-container-single{
    @include data-container;
    text-align:center;
    .data-title{
        font-size:16px;
        text-align:center;
    }
    .data-content{
        font-size:23px;
    }
}

.green{
    background-color:rgb(71, 148, 71)!important; 
}

.red{
    background-color:rgb(185, 68, 68)!important;
}

.data-container-double{
    @include data-container;
}

.data-container-fullwidth{
    @include data-container;
    .data-content{
        height:300px;
        overflow-y:auto;
    }
}